[defaults]
inventory = ./hosts
host_key_checking = False
deprecation_warnings = False
remote_tmp = /tmp/ansible-${USER}
local_tmp = /tmp/ansible-local-${USER}

[ssh_connection]
ssh_args = -o ForwardAgent=yes
